html {
    scroll-behavior: smooth;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}


/*-------------------------------------------------*/
header {
    background-color: rgba(6, 6, 6, 0.8);
    color: #bcb9ab;
    padding: 10px 20px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    height: 50px;
    margin-right: 15px; 
}

.logo h1 {
    margin: 0; 
    font-size: 24px;
    color: #bcb9ab;
}


.navbar {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 20px;
}

.nav-links {
    display: flex;
    list-style: none;
}

.nav-links li {
    margin: 0 10px;
}

.nav-links a {
    color: white;
    text-decoration: none;
    padding: 10px;
    transition: background-color 0.3s;
}

.nav-links a:hover {
    background-color: #555;
}

.burger {
    display: none;
    cursor: pointer;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
    width: 30px;
    height: 30px; 
    margin-right: 20px;
    background-color: white; 
}

@media (max-width: 768px) {
    .burger {
        display: flex;
    }
}


.burger div {
    background-color: #fff; 
    height: 3px;
    width: 100%;
    border-radius: 2px;
}


@media (max-width: 768px) {
    .burger {
        display: flex;
    }

    .nav-links {
        display: none;
        flex-direction: column;
        width: 100%;
        background: #fff;
        position: absolute;
        top: 60px;
        left: 0;
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
        z-index: 1000;
    }

    .nav-links.active {
        display: flex;
    }
}




/*-------------------------------------------------*/
section {
    padding: 60px 20px;
    min-height: 100vh; 
    display: flex;
    flex-direction: column;
    justify-content: center; 
}
#home {
    color: white;
    text-align: left; 
    padding: 10% 5%; 
    min-height: 80vh; 
    display: flex;
    align-items: center; 
    justify-content: flex-start; 
    font-family: 'Montserrat', sans-serif; 
    position: relative;
    overflow: hidden; 
}

#home h1, #home p {
    margin: 0; 
}

#home h1 {
    font-size: 3rem; 
    margin-bottom: 15px;
}

#home p {
    font-size: 1.5rem; 
}

.text-content {
    text-align: center;
}


.background-slider {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    z-index: -1;
    transition: background-image 1s ease-in-out;
    display: flex;
    align-items: center; 
    justify-content: center; 
}



/*-------------------------------------------------*/

#benefits {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #fad958   ;
    padding: 40px 20px;
    box-sizing: border-box;
    overflow-x: auto; 
}

.benefit-cards {
    display: flex;
    flex-wrap: nowrap; 
    gap: 20px;
    max-width: 100%;
}

.benefit-card {
    flex: 0 0 auto;
    max-width: 300px;
    min-width: 250px;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.3s, background-color 0.3s;
}

.benefit-card img {
    max-width: 100%;
    height: auto;
    margin-bottom: 15px;
}

.benefit-card h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.benefit-card p {
    font-size: 1rem;
    color: #666;
}

.benefit-card .benefit-detail {
    color: #666;
    display: none;
}

.benefit-card:hover {
    transform: scale(1.05);
    background-color: #f0f8ff;
}

.benefit-card:hover .benefit-detail {
    display: block;
    color: #000;
}
/*-------------------------------------------------*/

#features {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #fdffcc;
    padding: 40px 20px;
    box-sizing: border-box;
}

.feature-cards {
    display: flex;
    flex-wrap: wrap; 
    justify-content: center; 
    gap: 20px; 
    max-width: 1200px; 
    width: 100%; 
}

.feature-card {
    flex: 1 1 calc(33.333% - 40px); 
    max-width: 300px; 
    min-width: 250px; 
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.feature-card img {
    max-width: 100%;
    height: auto;
    margin-bottom: 15px;
}

.feature-card h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.feature-card p {
    font-size: 1rem;
    color: #666;
}

.feature-card .feature-detail {
    color: #666;
    display: none;
}

.feature-card:hover {
    transform: scale(1.05);
    background-color: #f0f8ff;
}

.feature-card:hover .feature-detail {
    display: block;
    color: #000;
}




/*-------------------------------------------------*/
#testimonials {
    padding: 20px 0;
    background-color: #fffa90;
    min-height: 50vh;
    max-height: 500px; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.testimonial-container {
    position: relative;
    width: 100%;
    max-width: 100%;
    overflow: hidden;
    border-radius: 8px;
}

.testimonial-slider {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.testimonial {
    flex: 0 0 100%;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
}

.testimonial img {
    border-radius: 50%;
    width: 80px;
    height: 80px;
    margin-bottom: 10px;
    object-fit: cover;
}

.prev-btn, .next-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(51, 51, 51, 0.6);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 18px;
    transition: background-color 0.3s;
    border-radius: 4px;
}

.prev-btn {
    left: 10px;
}

.next-btn {
    right: 10px;
}

.prev-btn:hover, .next-btn:hover {
    background-color: rgba(51, 51, 51, 0.8);
}


@media (max-width: 768px) {
    #testimonials {
        min-height: 40vh;
        max-height: 400px;
    }

    .prev-btn, .next-btn {
        font-size: 16px;
        padding: 8px;
    }
}


/*-------------------------------------------------*/

#cta {
    background-color: #fff201; 
    color: black; 
    text-align: center;
    padding: 60px 20px; 
    width: 100%; 
    box-sizing: border-box; 
    display: flex;
    flex-direction: column;
    justify-content: center; 
    min-height: 300px; 
}

#cta h2 {
    font-size: 28px; 
    margin: 0 0 15px; 
}

#cta p {
    font-size: 18px; 
    margin: 0 0 20px; 
}


.cta-button {
    background-color: #231f20; 
    color: white; 
    padding: 12px 24px; 
    text-decoration: none;
    font-size: 1em; 
    border-radius: 5px; 
    transition: background-color 0.3s;
    display: inline-block; 
    width: auto; 
    text-align: center; 
    margin: 10px auto; 
}

.cta-button:hover {
    background-color: wheat; 
}


/*-------------------------------------------------*/
#contact {
    padding: 40px 20px;
    background-color: #e5d3a5;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    width: 100%;
    max-width: 800px;
    background-color: white;
    padding: 40px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

#contact-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.form-group input,
.form-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

button[type="submit"] {
    padding: 10px 20px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

button[type="submit"]:hover {
    background-color: #555;
}


@media (max-width: 768px) {
    #contact {
        padding: 20px 10px;
    }

    .container {
        width: 90%;
        padding: 20px;
    }

    .form-group input,
    .form-group textarea {
        font-size: 14px;
    }

    button[type="submit"] {
        font-size: 14px;
        padding: 8px 16px;
    }
}

@media (max-width: 480px) {
    .container {
        width: 100%;
        padding: 15px;
    }

    .form-group input,
    .form-group textarea {
        font-size: 12px;
    }

    button[type="submit"] {
        font-size: 12px;
        padding: 6px 12px;
    }
}


/*-------------------------------------------------*/
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.footer-links {
    list-style-type: none;
    padding: 0;
}

.footer-links li {
    display: inline;
    margin-right: 10px;
}

.footer-links a {
    color: white;
    text-decoration: none;
}

.social-media a {
    margin-right: 10px;
}


@media (max-width: 768px) {
    #home {
        padding: 15% 5%; 
    }
}